/*************main-header-file***************/
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-header{
    background-color: #FF5528;
    
}
.main-header-top{
    padding: 8px 0 2px 0;  
}
/*************main-top-left***************/

.main-top-left i{
     font-size: 25px;
}
.main-top-left p{
    padding-left: 10px;  
}

.location{
    margin-left: 35px;
}
/*********main-top-right************/

.main-top-right p{
    margin-left: 20px;
}
.main-top-right i{
    margin-left: 8px;
     padding:6px 6px;
    color: white;
    border-radius: 50%;

   
    
}

/**<!------------------main-header-inner------------------->**/
.main-header-inner{
    padding-top: 40px;
}
.navbar{
    margin-left: 25px;
}
.navbar a{
    color:black;
    
}
/****** <!-----------call anytime-------->********/

.main-inner-right i{
    font-size: 15px; 
}
.fa-phone{
    margin-right: 15px;
    padding:8px 8px;
    color: white;
    border-radius: 50%;
    background-color:  #FF5528;
    
}
.search i{
      margin-left: 15px;
     padding:8px 8px;
    border-radius: 50%;
    font-size: 15px;
    color:  #FF5528;
    background-color:  #FFDDD4;
    
}
.btn{
    margin-left: 15px;
    border-radius: 25px;
     border-color: #FF5528;;
}
.btn i{
    margin-left: 10px;
     padding:8px 8px;
    color: white;
    border-radius: 50%;
    font-size: 15px;
     background-color: #FF5528;

    
}

/**************<!---------------------main-section-one---------------------->**************/
.section-one{
    padding:15% 0 5% 0; 
}
.circle-btn{
    margin-top: 240px;
    
}
    
.circle-btn i{
    
 padding: 18px 18px;
    background-color: white;
    border-radius: 50%;
    color:black;
}

.one .my-modify{
    font-size: 50px;
}